/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

/* Variables */
:root {
  /* Colors */
  --dark: #000000;
  --dark-alt: #343434;
  --light: #ffffff;
  --light-alt: #949494;

  /* Fonts */
  --sans-serif: "Host Grotesk", sans-serif;
  --sans-serif-alt: "Faculty Glyphic", sans-serif;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--light) transparent;
  scrollbar-width: thin;
}
*::selection {
  background: var(--dark);
  color: var(--light);
}
::-webkit-scrollbar {
  width: 5px;
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  background: var(--light);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--sans-serif);
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 100%;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 16px;
  color: var(--light-alt);
  line-height: 160%;
}
