/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

/* Variables */
:root {
  /* Colors */
  --dark: #000000;
  --dark-alt: #343434;
  --light: #ffffff;
  --light-alt: #949494;

  /* Fonts */
  --sans-serif: "Host Grotesk", sans-serif;
  --sans-serif-alt: "Faculty Glyphic", sans-serif;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: var(--light) transparent;
  scrollbar-width: thin;
}
*::selection {
  background: transparent;
  color: var(--light);
}
::-webkit-scrollbar {
  width: 5px;
  background: var(--dark);
}
::-webkit-scrollbar-thumb {
  background: var(--light);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--sans-serif);
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 100%;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 18px;
  color: var(--light-alt);
  line-height: 160%;
}

/* Section */
.section {
  position: relative;
  padding: 150px 0;
  background-color: transparent;
}

/* Headings */
.heading {
  font-size: 60px;
  font-family: var(--sans-serif-alt);
  background: linear-gradient(to right, var(--light), var(--light-alt));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  line-height: 150%;
}
.sub-heading {
  font-size: 30px;
  color: var(--light-alt);
  text-transform: capitalize;
}

/* Buttons */
.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 20px 30px;
  background: linear-gradient(
      45deg,
      var(--dark),
      var(--dark-alt) 51%,
      var(--dark)
    )
    var(--x, 0) / 150%;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: var(--light);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease all;
}
.button:hover {
  --x: 100%;
}

/* Accordion */
.accordion {
  position: relative;
}
.accordion .accordion-item {
  border-bottom: 1px solid var(--dark-alt);
}
.accordion .accordion-item:first-child {
  border-top: 1px solid var(--dark-alt);
}
.accordion .accordion-item .accordion-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 20px 10px;
  cursor: pointer;
}
.accordion .accordion-item .accordion-title img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  object-position: center;
  transition: 0.5s ease all;
}
.accordion .accordion-item.active .accordion-title img {
  transform: rotate(45deg);
}
.accordion .accordion-item .accordion-title span {
  font-size: 25px;
  color: var(--light);
}
.accordion .accordion-item .accordion-content .text {
  padding: 00px 30px 30px 90px;
}

/* Breadcrumb */
.breadcrumb {
  position: relative;
  margin: 50px 0;
  border: 1px solid var(--dark-alt);
  border-radius: 10px;
  padding: 10px 20px 15px;
}
.breadcrumb .breadcrumb-title {
  font-size: 25px;
  font-family: var(--sans-serif-alt);
  background: linear-gradient(to right, var(--light), var(--light-alt));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  line-height: 150%;
}
.breadcrumb .breadcrumb-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.breadcrumb .breadcrumb-menu .breadcrumb-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.breadcrumb .breadcrumb-menu .breadcrumb-item svg {
  margin-left: 10px;
  color: var(--dark-alt);
}
.breadcrumb .breadcrumb-menu .breadcrumb-item .breadcrumb-link {
  color: var(--light);
}
.breadcrumb .breadcrumb-menu .breadcrumb-item .breadcrumb-link.active {
  color: var(--light-alt);
}
