/* Imoports */
@import url(./global.css);
@import url(./tailwind.config.css);

/* Navbar */
.navbar {
  position: relative;
  padding: 15px 0;
  z-index: 3;
}
.navbar .nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.navbar .logo {
  width: 70px;
}
.navbar .nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}
.navbar .nav-menu .nav-link {
  font-size: 18px;
  font-weight: 400;
  color: var(--light-alt);
  transition: 0.5s ease all;
}
.navbar .nav-menu .nav-link:hover,
.navbar .nav-menu .nav-link.active {
  color: var(--light);
}
.navbar .nav-toggle {
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
}
.navbar .nav-toggle span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--light);
  margin: 5px 0;
  border-radius: 5px;
  transition: 0.5s ease all;
}
.navbar .nav-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translateY(5px);
}
.navbar .nav-toggle.active span:nth-child(2) {
  transform: rotate(-45deg) translateY(-5px);
}

/* Hero */
.hero {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero h2 {
  width: 100%;
  max-width: 1100px;
  font-size: 80px;
  font-family: var(--sans-serif-alt);
  line-height: 150%;
  margin-bottom: 50px;
  background: linear-gradient(to right, var(--light), var(--light-alt));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero h4 {
  width: 100%;
  max-width: 700px;
  font-size: 24px;
  line-height: 150%;
  color: var(--light-alt);
}

/* Project Card */
.project-card {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--dark-alt);
  overflow: hidden;
}
.project-card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.project-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease all;
}
.project-card:hover .image img {
  transform: scale(0.97);
}
.project-card .text {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 150px 30px 30px;
  background: linear-gradient(to top, var(--dark), #000000d1, transparent);
  transition: 0.5s ease all;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.project-card:hover .text,
.project-card.active .text {
  bottom: 0;
}
.project-card .text .link {
  font-size: 25px;
  font-weight: 400;
  color: var(--light);
}
.project-card .text span {
  padding: 10px 20px;
  background: linear-gradient(to bottom left, var(--dark), var(--dark-alt));
  border-radius: 50px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  color: var(--light);
}

/* Process */
.process-item {
  position: relative;
}
.process-item .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 1px solid var(--dark-alt);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.process-item .title h5 {
  font-size: 24px;
  font-family: var(--sans-serif-alt);
  color: var(--light);
}
.process-item .title span {
  font-size: 24px;
  font-family: var(--sans-serif-alt);
  background: linear-gradient(to right, var(--light), var(--light-alt));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* CTA Section */
.card-cta {
  display: block;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.card-cta img {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}
.card-cta span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: var(--light-alt);
  z-index: 2;
  transition: 0.5s;
}
.card-cta:hover span {
  color: var(--light);
  animation: textShakeAnimation 0.5s infinite;
}
@keyframes textShakeAnimation {
  0% {
    transform: translate(calc(-50% + 1px), calc(-50% + 1px)) rotate(0deg);
  }
  10% {
    transform: translate(calc(-50% + -1px), calc(-50% + -2px)) rotate(-1deg);
  }
  20% {
    transform: translate(calc(-50% + -3px), calc(-50% + 0px)) rotate(1deg);
  }
  30% {
    transform: translate(calc(-50% + 3px), calc(-50% + 2px)) rotate(0deg);
  }
  40% {
    transform: translate(calc(-50% + 1px), calc(-50% + -1px)) rotate(1deg);
  }
  50% {
    transform: translate(calc(-50% + -1px), calc(-50% + 2px)) rotate(-1deg);
  }
  60% {
    transform: translate(calc(-50% + -3px), calc(-50% + 1px)) rotate(0deg);
  }
  70% {
    transform: translate(calc(-50% + 3px), calc(-50% + 1px)) rotate(-1deg);
  }
  80% {
    transform: translate(calc(-50% + -1px), calc(-50% + -1px)) rotate(1deg);
  }
  90% {
    transform: translate(calc(-50% + 1px), calc(-50% + 2px)) rotate(0deg);
  }
  100% {
    transform: translate(calc(-50% + 1px), calc(-50% + -2px)) rotate(-1deg);
  }
}

/* Footer */
.footer .social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.footer .social a {
  color: var(--light-alt);
  transition: 0.5s ease all;
}
.footer .social a:hover {
  color: var(--light);
}
.footer .social a svg {
  width: 25px;
  height: 25px;
}
.footer h1 {
  font-size: 15vw;
  font-family: var(--sans-serif-alt);
  text-align: center;
  background: linear-gradient(
    to top right,
    var(--dark),
    var(--dark-alt),
    var(--dark)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  line-height: 150%;
  cursor: default;
}

/* Testimonial Carousel */
.testimonial-carousel {
  position: relative;
  width: 100%;
  overflow-x: visible;
}
.testimonial-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.testimonial-slides .slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 0 20px 0 0;
  text-align: center;
}
.testimonial-card {
  padding: 20px;
  border: 1px solid var(--dark-alt);
  border-radius: 10px;
  text-align: left;
  height: 100%;
}
.testimonial-card h5 {
  font-size: 20px;
  font-family: var(--sans-serif-alt);
  color: var(--light);
}
.testimonial-card ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 15px 0 30px;
  gap: 23px;
}
.testimonial-card ul li {
  font-size: 16px;
  color: var(--light-alt);
  position: relative;
}
.testimonial-card ul li::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  background: var(--light);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  right: -13px;
  transform: translateY(-50%);
}
.testimonial-card ul li:last-child::after {
  display: none;
}
.testimonial-card p {
  font-size: 16px;
}
.testimonial-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.testimonial-controls button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark-alt);
  border-radius: 50px;
  color: var(--light);
  transition: 0.5s ease all;
}
.testimonial-controls button:hover {
  border-color: var(--light);
}

/* Responsive */
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
  .testimonial-slides {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .navbar .nav-toggle {
    display: block;
  }
  .navbar .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 80%;
    width: 320px;
    height: 100%;
    background-color: var(--dark);
    transition: 0.5s ease all;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px;
  }
  .navbar .nav-menu.hide {
    left: -80%;
  }
}
@media screen and (max-width: 500px) {
  .navbar .logo {
    width: 50px;
  }
  .testimonial-slides {
    grid-template-columns: repeat(1, 1fr);
  }
}
